{% extends 'gallery/base.html' %}

{% load static %}  

{% block content %}
  
            {% include 'partials/_sidebar.html' %}


            <section class="conteudo">
                <section class="imagem">
                    <div class="imagem__conteudo">
                        {% if photo.image == "" or photo.image == null %}
                            <img class="card__imagem" src="{% static '/assets/imagens/galeria/not-found.png' %}" alt="foto">
                        {% else %}
                            <img class="imagem__imagem" src="{{ photo.image.url }}">
                        {% endif %}
                        <div class="imagem__info">
                            <div class="imagem__texto">
                                <p class="imagem__titulo">{{ photo.name }}</p>
                                <p class="imagem__descricao">{{ photo.subtitle }}</p>
                                <p class="imagem__texto">{{ photo.description }}</p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </main>
    </div>



{% endblock %}